{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.css" rel="stylesheet" type="text/css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/template.css' %}">
    <title>Regas Project</title>
</head>
<body>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block" style="display:none" id="mySidebar">
      <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
        {% for sensor in sensors %}
            <a href="../sensors/{{ sensor.pk }}" class="w3-bar-item w3-button">{{ sensor.name }}</a>
            <hr>
        {% endfor %}
    </div>
    <div id="content">
        <div class="button-form">
        <button class="menu-button" onclick="w3_open()">☰</button>

        <p>Dark Mode</p>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked onclick="switchButtonClick()">
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
        <div class="title colorSwitch">
        <h1 id="sensorName">{{ sensor.name }}</h1>
        <div id="onlinePoint" ></div>
    </div>
        <div class="dashboard">
         <div class="temperature-section colorSwitch" data-toggle="modal" data-target="#tempGraphModal">
             <h3>Temperature</h3>
             <svg id="animated"  viewbox="0 0 100 100">
              <path  id="progress" class="realtime-value" stroke-width="3" stroke="transparent" fill="none"
                    d="M50 10
                       a 40 40 0 0 1 0 80
                       a 40 40 0 0 1 0 -80">
              </path>
             <text  id="temp" x="50" y="50" fill="#fff" text-anchor="middle" dy="7" font-size="20">--°C</text>
            </svg>
        </div>
         <div class="humidity-section colorSwitch">
             <h3>Humidity</h3>
              <svg id="animated2" viewbox="0 0 100 100">
              <path id="progress2" stroke-width="3" stroke="transparent" fill="none"
                    d="M50 10
                       a 40 40 0 0 1 0 80
                       a 40 40 0 0 1 0 -80">

              </path>
             <text class="realtime-value" id="humidity" x="50" y="50" fill="#fff" text-anchor="middle" dy="7" font-size="20">--%</text>
            </svg>
        </div>
    </div>
        <div class="modal fade" id="tempGraphModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle">Temperature Graph</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <div class="temp-section-graph" id="tempGraph">
{#                <img id="tempImg" src="" width="600px">#}
                  <p>Name: {{ sensor.name }}</p>
                 <p>Version: {{ sensor.version }}</p>
                  <p>Version: {{ sensor.max_value }}</p>
                 <p>Max Value: {{ sensor.min_value }}</p>
                 <p>Min Value: {{ sensor.version }}</p>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
        <div class="button-form">
        <p>Split Graphs</p>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="splitGraphs" checked onclick="switchButtonClick2()">
            <label class="onoffswitch-label" for="splitGraphs" id="splitGraphsLabel">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
        <div id="chart_div" class="googleChart"></div>
        <div id="chart_div2" class="googleChart"></div>
        <div id="chart_tot" class="googleChart chart_totClass"></div>
    </div>


{#    <div class="temp-section-graph" id="humGraph">#}
{#        {{ div2 | safe }}#}
{#    </div>#}

</body>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'templates/template.js'%}"></script>

</html>

